!!!
%html
  %head
    - set_meta_tags title: current_article.title, description: current_article.data.description, keywords: current_article.tags.join(', ')
    = partial "partials/head"
  %body
    -#.sidebar
    -#  = partial "partials/sidebar"
    #main{:role => "main"}
      = partial "partials/nav"
      %h1= current_article.title
      %p= partial "partials/tags_date", :locals => {article: current_article }
      .post-content
        = find_and_preserve do
          = yield
      %h2 Comments
      = disqus
      = disqus_count
      = partial "partials/footer"
    = google_analytics_tag